<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{'/webjars/bootstrap/3.3.7-1/css/bootstrap.css'}"/>
    <link rel="stylesheet" href="/assets/css/styles.css"/>
</head>
<body>

    <div style="color:red;" th:text="${errors}"></div>

    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <fieldset>
                    <legend><h1>User Login</h1></legend>
                    <form class="form-horizontal" action="/login" th:object="${user}" method="POST">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <div class="form-group">
                            <label class="control-label col-xs-2">Username</label>
                            <div class="col-xs-6">
                                <input class="form-control" type="text" th:field="*{username}" placeholder="Enter username"/>
                            </div>
                        </div>
                        <br/>
                        <div class="form-group">
                            <label class="control-label col-xs-2">Password</label>
                            <div class="col-xs-6">
                                <input class="form-control" type="password" th:field="*{password}" placeholder="Enter password"/>
                            </div>
                        </div>
                        <br/>
                        <div class="form-group">
                            <div class="col-xs-6 col-xs-offset-2">
                                <input class="btn btn-success" type="submit" value="Login"/>
                            </div>
                        </div>
                    </form>
                </fieldset>
                <span class="pull-right">Don't have an account? <a href="/signup">Create an Account</a></span>
            </div>
        </div>
    </div>

</body>
</html>